ul {
list-style: none;
display: flex;
gap: 15px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

body {
    font-family: "Roboto";
}

html, body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.quote p {
    font-size: 36px;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    margin-top: 100px;
    margin-bottom: 35px;
    padding: 0px 200px;
}

.images-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    margin: 10px 50px;
    padding-bottom: 100px;
}

.images {
display: flex;
gap: 20px;
flex: 0 0 auto;
flex-direction: column;
height: 150px;
width: 150px;
max-height: auto;
max-width: auto;
}

.subtext {
    padding-bottom: 70px;
    margin-bottom: 70px;
}

.banner-heading {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.banner {
display: flex;
height: 300px;
width: 600px;
align-self: flex-end;
}

.infotitle {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin-bottom: 35px;
}

.header {
    display: flex;
    justify-content: space-around;
}

.links {
    display: flex;
    align-items: center;
}

button {
background-color: #3882f6;
border-radius: 5px;
color: #f9faf8;
padding: 4px 16px;
}

.information {
    background-color: white;
    margin-top: 35px;
}

.copyright {
    text-align: center;
    background-color:#1f2937;
    color: #f9faf8;
    padding: 10px;
}

.lower-heading {
    display: flex;
}

.description {
    display: flex;
    color: #f9faf8;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    padding-right: 50px;
}

.top-banner {
background-color: #1f2937;
}

.lower-banner {
    padding: 40px;
    background-color: #3882f6;
    color: #f9faf8;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 35px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.top-website {
font-size: 48px;
font-weight: 800;
color: #f9faf8;
padding-left: 200px;
}

.top-subtext {
    color: #f9faf8;
    padding-left: 200px;
}

.quote strong {
    padding-left: 350px;
}

.description button {
    margin-left: 200px;
    margin-top: 10px;
    border-color: #3882f6;
}

.banner-words {
    padding-right: 100px;
}

.bottom-button button {
    border-color: #f9faf8;
}